{% extends "base.html" %}
{% block content %}
    <h1>{{ message }}</h1>
    <div>
        <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'add-link'%}'" type="button">
            Add
        </button>
    </div>
    <div>
        <table border="solid">
            <tr>
                <th>Link</th>
                <th>Link password</th>
                <th>Link hash</th>
                <th>Date of creation</th>
            </tr>
            {% for link in link_list %}
                <tr>
                    <td>{{ link.path }}</td>
                    <td>{{ link.link_password }}</td>
                    <td><a href="{% url 'show-link' slug=link.link_hash %}">Link Details</a></td>
                    <td>{{ link.creation_date|date:"d.m.Y" }} {{ link.creation_date|time:"H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
