<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!--<title>{{ title }}</title>-->
        {% if logged %}
            {{ user }}
            <input type="button" class=".login"
                   onclick="location.href='{% url 'my_app:logout' %}';"
                   value="Logout"/>
        {% else %}
            <input type="button" class=".login"
                   onclick="location.href='{% url 'my_app:login' %}';"
                   value="Login"/>
        {% endif %}
        <button class="btn btn-primary btn-xs"
                onclick="location.href='admin'"
                type="button">Admin</button>

    </head>
    <body>
        {% block content %}
        <p>content</p>
        {% endblock %}
    </body>
</html>

